import os

DEVELOPMENT = True

INSTALL_LOCATION = os.path.dirname(__file__)
SECRET_KEY = 'supersecretkey'

TEST_USERNAME = ''

LOGOUT_URL = ''

SITE_ID = ''
SOAP_URL = ''
WSDL = ''

# This login is used to authenticate requests to RPAPI
CASCADE_LOGIN = {'username': '', 'password': ''}
STAGING_DESTINATION_ID = ''

THUMBOR_STORAGE_LOCATION = ''
THUMBOR_RESULT_STORAGE_LOCATION = ''

THUMBOR_SECRET = ''

LDAP_SVC_TINKER_PASSWORD = ''
LDAP_CONNECTION_INFO = ''